In [217]:
import pandas as pd

<h2> By Miles Lilly </h2>

In [218]:
wiki = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

<p> While this might seem like a job for beautifulsoup, pandas has a build in function for reading html </p>

In [219]:
toronto_df = pd.read_html(wiki, header = 0)

<p> The previous command produced a list of dataframes, but I only the the first dataframe. </p>

In [220]:
toronto_df[0].head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

In [221]:
toronto_df = toronto_df[0]

In [222]:
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

<p> I need to get rid of the rows containing "Not assigned". In order to do that I subset by data according to the following logical conditions. </p>

In [223]:
toronto_df = toronto_df[(toronto_df.Borough != "Not assigned") & (toronto_df.Neighbourhood != "Not assigned")]

In [224]:
toronto_df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern
14      M3B        North York   Don Mills North

<p> The following command resets the row indexes </p>

In [206]:
toronto_df = Toronto_df.reset_index(drop=True)

<p> Now that dataframe is complete. Lets look at the head and tail just to make sure though. </p>

In [225]:
toronto_df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern
14      M3B        North York   Don Mills North

In [226]:
toronto_df.tail(10)

    Postcode    Borough             Neighbourhood
270      M8Y  Etobicoke                 Mimico NE
271      M8Y  Etobicoke            Old Mill South
272      M8Y  Etobicoke        The Queensway East
273      M8Y  Etobicoke     Royal York South East
274      M8Y  Etobicoke                  Sunnylea
283      M8Z  Etobicoke  Kingsway Park South West
284      M8Z  Etobicoke                 Mimico NW
285      M8Z  Etobicoke        The Queensway West
286      M8Z  Etobicoke     Royal York South West
287      M8Z  Etobicoke            South of Bloor

In [236]:
coord = pd.read_csv("Geospatial_Coordinates.csv", names = ["Postcode", "Latitude", "Longitude"], skiprows = 1)

In [237]:
coord.head(5)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [239]:
merge_df = pd.merge(toronto_df, coord, on='Postcode', how='outer')

In [240]:
merge_df.head(5)

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4      M6A        North York  Lawrence Heights  43.718518 -79.464763